/* Space out content a bit */

body {
  padding-top: 3%;
  padding-bottom: 3%;
  background: url("/img/CoffeeNewspaper.jpg");
}

/* Custom page header */
.jumbotron {
    background-color: #29364B;
}

#main-headliner {
    color: red;
}

.navbar-brand {
  background-color: red;
  opacity: 0.8;
}

/* The query section */

#query-title {
  border-radius: 25px;
  background-color: red;
}

.main-container {
    border-radius: 25px;
}

#article-title {
  color: red;
}

#panel-title {
    background-color: red;
    opacity: 0.9;
}

#new-articles {
  border-radius: 25px;
  background-color: red;
}

#form-control {
    border-color: #29364B;
}

#panel-heading, #query-header {
    background-color: red;
}

#toBeginEm, #viewArtEm {
    color: red;
}

#buttonView {
    background-color: #29364B;
}

#buttonSave, #buttonDelete {
    background-color: #EF0213;
}

#buttonSubmit {
    background-color: #29364B;
}